.about {
    height: 70vh;
    width: 100vw;
    padding-top: 95px;
    padding-left: 100px;
    padding-right: 60px;
    padding-bottom: 100px;
    background: linear-gradient(to right,  rgba(0, 0, 0, 0.5) , rgba(61, 61, 61, 0.171));
  }
  
.about h1 {
    font-size: 4rem;
    font-weight: 455;
    font-family: "Libre Baskerville", serif;
    color: #fbfbfb;
  }
  
.about .description {
    display: flex;
    align-content: start;
  }
  
.about .description .line {
    height: 3px;
    width: 600px;
    background-color: #ff0000;
    margin-right: 20px;
  }
.about .description p {
    margin-top: 3px;
    color: #fbfbfb;
    font-size: 20px;
  }
  
.span {
    color: #ff0000;
  }