.header {
    display: flex;
    padding: 1rem 3rem;
    position: static;
    top: 0;
    z-index: 0;
}
/* logo */
.logo {
    flex: 1;
}
.user-logo {
    height: 5rem;
    width: 5rem;
    color: var(--secondary-white);
}
/* Menu */
.mobile {
    border: none;
    cursor: pointer;
    background-color: transparent;
}
.menu-mobile {
    width: 2.5rem;
    height: 2.5rem;
    color: var(--secondary-white);
}
/* Navigation */
.navigation {
    display: none;
    align-items: center;
    font-size: 1.1rem;
}
.navigation-list {
    display: flex;
    align-items: center;
    margin-right: 2.2rem;
}
.link-item {
    list-style: none;
}
.highlight {
    color: var(--primary-blue);
}
.navigation-list > * + * {
    margin-left: 2.5rem;
}
.link-name {
    color: var(--secondary-white);
    text-decoration: none;
}
.link-name:hover {
    color: var(--secondary-white);
}
.underline {
    border-bottom-width: 0px;
    background-image: linear-gradient(transparent, transparent), linear-gradient(var(--secondary-white), var(--secondary-white));
    background-size: 0 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
}
.underline:hover {
    background-size: 100% 2px;
}
/* Contact Button */
.contact {
    color: var(--secondary-white);
    text-decoration: none;
    background: linear-gradient(to top, #02b2eb, #1d4b9a); 
    color: #fff; 
    font-size: 1.1rem;
    padding: 0.8rem 1.2rem;
    border-radius: 0.5rem;
}
.contact:hover {
    color: white;
    background: linear-gradient(to bottom, #02b2eb, #1d4b9a);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
}
@media (min-width: 586px) {
    .navigation {
        display: flex;
        align-items: center;}
    .mobile {
        display: none;
    }
}